<!DOCTYPE html>
<html>
<head>
	<title>iOne JArdim Inteligente | Login</title>
	<script type="text/javascript" src="/bootstrap/js/jquery.min.js"></script>
	<script type="text/javascript" src="/bootstrap/js/bootstrap.js"></script>
	<script type="text/javascript" src="/js/script.js"></script>
	<link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/fonts.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
</head>
<body>
	<dir class="container">
		<nav class="navbar navbar-inverse navbar-fixed-top">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="/" >iOne Jardim Inteligente</a>
				</div>

				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
					<ul class="nav navbar-nav navbar-right">
						<li><a href="/#projeto">Projeto</a></li>
						<li><a href="/#tecnologias">Tecnologias</a></li>
						<li><a href="/#cadastro">Cadastro</a></li>
						<li><a href="/#parceiro">Parceiro</a></li>
						<li><a href="/login">Login</a></li>
					</ul>
				</div>
			</div>
		</nav>

		<div class="conteudo-login content">
			<h3>Login</h3>
			<form method="post" action="/login">
				<div class="row">
					<div class="col-xs-12 col-md-4 espaco"></div>
					<div class="col-xs-12 col-md-4 espaco">
						<dir class="form-group">
							<label>E-mail</label>
							<input type="email" name="email" class="form-control" required="">
						</dir>
						<dir class="form-group">
							<label>Senha</label>
							<input type="password" name="senha" class="form-control" required="">
						</dir>
						<dir class="form-group">
							<a href="/esqueciSenha" id="esqueci">Esqueci a senha</a>
						</dir>
						<dir class="form-group">
							<input type="submit" name="entrar" class="btn btn-success" value="Entrar">
							<a href="/" name="voltar" class="btn btn-default">Voltar</a>
						</dir>
						<dir class="form-group">
							<%if(alert){%>
							<div class="alert alert-dismissible alert-warning">
								<button type="button" class="close" data-dismiss="alert">&times;</button>
								<p><%- msg %></p>
							</div>
							<%}%>
						</dir>
					</div>
					<div class="col-xs-12 col-md-4 espaco"></div>
				</div>
			</form>
		</div>
	</dir>

	<div class="container-fluid footer">
		<h5>iOne Jardim Inteligente é um Projeto de Conclusão do Curso de Ciência da Computação</h5>
		<h5>Universidade São Judas Tadeu - 2016</h5>
	</div>
	
</body>
</html>
