<html>
<body>
	<form method="post" action="/redefinirSenhaEmail">
		<input type="hidden" name="key" value="<%= key %>" >
		<input type="hidden" name="id" value="<%= id %>" >
		<input type="password" name="senha" placeholder="senha"><br> 
		<input type="submit" value="enviar">
	</form>
</body>
</html>